---
import MainLayout from "@/layouts/MainLayout.astro";
import AppAside from "@/components/AppAside.astro";
import AppFeaturedArticle from "@/components/AppFeaturedArticle.astro";
import AppArticlesSection from "@/components/AppArticlesSection.astro";
---

<MainLayout
  title="Frontend Mentor | News Homepage"
  description="A news homepage challenge from Frontend Mentor."
>
  <main class="mx-auto max-w-[1110px] px-4 xl:px-0">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div class="col-span-1 lg:col-span-2">
        <AppFeaturedArticle />
      </div>
      <AppAside />
      <div class="col-span-1 mt-8 lg:col-span-3 lg:mt-10">
        <AppArticlesSection />
      </div>
    </div>
  </main>
</MainLayout>
