---
import AppArticle from "@/components/AppArticle.astro";
---

<section>
  <AppArticle number="01" title="Reviving Retro PCs">
    What happens when old PCs are given modern upgrades?
  </AppArticle>
  <AppArticle number="02" title="Top 10 Laptops of 2022">
    Our best picks for various needs and budgets.
  </AppArticle>
  <AppArticle number="03" title="The Growth of Gaming">
    How the pandemic has sparked fresh opportunities.
  </AppArticle>
</section>
