---
import AppAsideArticle from "@/components/AppAsideArticle.astro";
---

<aside class="bg-theme-very-dark-blue text-theme-off-white p-6">
  <h2 class="text-theme-soft-orange text-3xl font-bold">New</h2>
  <div>
    <AppAsideArticle title="Hydrogen VS Electric Cars">
      Will hydrogen-fueled cars ever catch up to EVs?
    </AppAsideArticle>
    <AppAsideArticle title="The Downsides of AI Artistry">
      What are the possible adverse effects of on-demand AI image generation?
    </AppAsideArticle>
    <AppAsideArticle title="Is VC Funding Drying Up?">
      Private funding by VC firms is down 50% YOY. We take a look at what that means.
    </AppAsideArticle>
  </div>
</aside>
