---
import AppAsideArticle from "@/components/AppAsideArticle.astro";
import { getCollection } from "astro:content";
const asideArticles = await getCollection("asideArticles");
---

<aside class="bg-theme-very-dark-blue px-6 pt-6 text-theme-off-white" aria-label="Related content">
  <p class="text-3xl font-bold text-theme-soft-orange xl:text-[2.5rem]">New</p>
  {
    asideArticles.map((article, index) => (
      <AppAsideArticle
        title={article.data.title}
        link={article.data.link}
        class={index !== asideArticles.length - 1 ? "border-b border-theme-dark-grayish-blue" : ""}
      >
        {article.data.text}
      </AppAsideArticle>
    ))
  }
</aside>
