---
interface Props {
  title: string;
  link: string;
  class: string;
}

const { title, link, class: className } = Astro.props;
---

<article class:list={[className]} class="flex flex-col gap-3 py-6">
  <a
    href={link}
    class="text-[1.25rem] font-bold text-theme-off-white transition-colors delay-100 hover:text-theme-soft-orange"
  >
    <h2>{title}</h2>
  </a>
  <p class="leading-relaxed text-theme-off-white/60"><slot /></p>
</article>
