---
import AppArticle from "@/components/AppArticle.astro";
---

<section class="grid grid-cols-1 gap-8 md:grid-cols-3">
  <AppArticle number="01" title="Reviving Retro PCs" image="/image-retro-pcs.jpg">
    What happens when old PCs are given modern upgrades?
  </AppArticle>
  <AppArticle number="02" title="Top 10 Laptops of 2022" image="/image-top-laptops.jpg">
    Our best picks for various needs and budgets.
  </AppArticle>
  <AppArticle number="03" title="The Growth of Gaming" image="/image-gaming-growth.jpg">
    How the pandemic has sparked fresh opportunities.
  </AppArticle>
</section>
