---
interface Props {
  title: string;
  class: string;
}

const { title, class: className } = Astro.props;
---

<article class:list={[className]} class="flex flex-col gap-3 py-6">
  <h3 class="text-theme-off-white text-[1.25rem] font-bold">{title}</h3>
  <p class="text-theme-off-white/60 leading-relaxed"><slot /></p>
</article>
