---
import AppAsideArticle from "@/components/AppAsideArticle.astro";
import { getCollection } from "astro:content";

const asideArticles = await getCollection("asideArticles");
---

<aside class="bg-theme-very-dark-blue text-theme-off-white px-6 pt-6" aria-label="Related content">
  <h2 class="text-theme-soft-orange text-3xl font-bold xl:text-[2.5rem]">New</h2>
  {
    asideArticles.map((article, index) => (
      <AppAsideArticle
        title={article.data.title}
        link={article.data.link}
        class={index !== asideArticles.length - 1 ? "border-theme-dark-grayish-blue border-b" : ""}
      >
        {article.data.text}
      </AppAsideArticle>
    ))
  }
</aside>
