<section>
  <article>
    <span>01</span>
    <div>
      <h3>Reviving Retro PCs</h3>
      <p>What happens when old PCs are given modern upgrades?</p>
    </div>
  </article>

  <article>
    <span>02</span>
    <div>
      <h3>Top 10 Laptops of 2022</h3>
      <p>Our best picks for various needs and budgets.</p>
    </div>
  </article>

  <article>
    <span>03</span>
    <div>
      <h3>The Growth of Gaming</h3>
      <p>How the pandemic has sparked fresh opportunities.</p>
    </div>
  </article>
</section>
