---
interface Props {
  title: string;
  class: string;
}

const { title, class: className } = Astro.props;
---

<article class:list={[className]}>
  <h3 class="text-theme-off-white text-[1.2rem] font-bold">{title}</h3>
  <p class="text-theme-off-white/50 text-md leading-relaxed"><slot /></p>
</article>
