---
interface Props {
  number: string;
  title: string;
}

const { number, title } = Astro.props;
---

<article>
  <span>{number}</span>
  <div>
    <h3>{title}</h3>
    <p>
      <slot />
    </p>
  </div>
</article>
