---
import AppArticle from "@/components/AppArticle.astro";
import { getCollection } from "astro:content";

const mainArticles = await getCollection("mainArticles");
---

<section class="grid grid-cols-1 gap-8 md:grid-cols-3">
  {
    mainArticles.map((article) => (
      <AppArticle
        number={article.data.number}
        title={article.data.title}
        imagePath={article.data.imagePath}
      >
        {article.data.text}
      </AppArticle>
    ))
  }
</section>
