<header class="mx-auto my-16 flex max-w-[1110px] items-center justify-between">
  <a href="/">
    <img src="/logo.svg" alt="Logo" aria-label="Navigate to home page" />
  </a>
  <nav class="hidden sm:block">
    <ul class="text-theme-dark-grayish-blue/80 flex items-center gap-12 font-bold">
      <li><a href="/">Home</a></li>
      <li><a href="/">New</a></li>
      <li><a href="/">Popular</a></li>
      <li><a href="/">Trending</a></li>
      <li><a href="/">Categories</a></li>
    </ul>
  </nav>
</header>
