<header class="mx-auto my-7 flex max-w-[1110px] items-center justify-between px-4 lg:my-16 xl:px-0">
  <a href="/">
    <img src="/logo.svg" alt="Logo" aria-label="Navigate to home page" class="w-12 lg:w-16" />
  </a>
  <nav class="hidden sm:block">
    <ul class="text-theme-dark-grayish-blue/80 flex items-center gap-12 font-bold">
      <li class="hover:text-theme-soft-red transition-colors delay-100"><a href="/">Home</a></li>
      <li class="hover:text-theme-soft-red transition-colors delay-100"><a href="/">New</a></li>
      <li class="hover:text-theme-soft-red transition-colors delay-100"><a href="/">Popular</a></li>
      <li class="hover:text-theme-soft-red transition-colors delay-100">
        <a href="/">Trending</a>
      </li>
      <li class="hover:text-theme-soft-red transition-colors delay-100">
        <a href="/">Categories</a>
      </li>
    </ul>
  </nav>
  <button
    type="button"
    class="cursor-pointer border-0 bg-transparent p-0 sm:hidden"
    id="menuToggle"
    aria-label="Toggle menu"
    aria-expanded="false"
  >
    <img src="/icon-menu.svg" alt="Menu" />
  </button>

  <div
    id="mobileMenu"
    class="bg-theme-off-white fixed top-0 right-0 z-10 hidden h-screen w-2/3 p-6 sm:hidden"
  >
    <button class="absolute top-6 right-4" id="closeMenu">
      <img src="/icon-menu-close.svg" alt="Close menu" />
    </button>
    <nav class="mt-28">
      <ul class="flex flex-col gap-5">
        <li class="hover:text-theme-soft-red text-lg font-semibold transition-colors delay-100">
          <a href="/">Home</a>
        </li>
        <li class="hover:text-theme-soft-red text-lg font-semibold transition-colors delay-100">
          <a href="/">New</a>
        </li>
        <li class="hover:text-theme-soft-red text-lg font-semibold transition-colors delay-100">
          <a href="/">Popular</a>
        </li>
        <li class="hover:text-theme-soft-red text-lg font-semibold transition-colors delay-100">
          <a href="/">Trending</a>
        </li>
        <li class="hover:text-theme-soft-red text-lg font-semibold transition-colors delay-100">
          <a href="/">Categories</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Mobile menu overlay -->
<div
  class="bg-theme-dark-grayish-blue/50 fixed top-0 left-0 hidden h-full w-full sm:hidden"
  id="overlay"
  aria-hidden="true"
>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menuToggle") as HTMLButtonElement;
    const menuIcon = menuToggle.querySelector("img") as HTMLImageElement;
    const mobileMenu = document.getElementById("mobileMenu");
    const closeMenu = document.getElementById("closeMenu") as HTMLButtonElement;
    const overlay = document.getElementById("overlay");
    let isMenuOpen = false;

    menuToggle.addEventListener("click", () => {
      isMenuOpen = !isMenuOpen;
      if (menuIcon) {
        menuIcon.src = isMenuOpen ? "/icon-menu-close.svg" : "/icon-menu.svg";
        menuToggle.setAttribute("aria-expanded", isMenuOpen.toString());
      }
      mobileMenu?.classList.toggle("hidden");
      overlay?.classList.toggle("hidden");
    });

    closeMenu?.addEventListener("click", () => {
      isMenuOpen = false;
      menuIcon.src = "/icon-menu.svg";
      menuToggle.setAttribute("aria-expanded", isMenuOpen.toString());
      mobileMenu?.classList.add("hidden");
      overlay?.classList.add("hidden");
    });
  });
</script>
